@use "authenticated";
@use "../base/variables" as *;

.MainApp {
    .app_content {
        margin-left: calc($aside_width);
        padding: 12px 16px;
        min-height: 100dvh;
        height: auto;
    }
}
