$danger: #dc3545;
$success: #008000;
$status: #49cefa;
$warning: #c28005;

$background_color: #fff;
$text_color: #000;

$link_color: blue;

$elements_background: #000;
$elements_color: #fff;

$navbar_background: #fff;
$navbar_color: #000;

$aside_background: #fff;
$aside_color: #000;

$footer_background: #000;
$footer_color: #fff;

$dashboard_background: #f4efca;
$dashboard_color: $text_color;

$faded_line: #ccc;
$faded_text: grey;


$container_padding: 5px 5%;
$aside_width: 14%;
