$danger: #ff0000;
$success: #008000;
$status: #49cefa;
$warning: #c28005;

$text_color: #000;
$link_color: blue;
$elements_background: #000;
$elements_color: #fff;
$navbar_background: #fff;
$navbar_color: #000;
$aside_background: #fff;
$aside_color: #000;
$footer_background: #000;
$footer_color: #fff;

$faded_line: grey;
$faded_text: grey;



$container_padding: 5px 5%;
$aside_width: 15%;
